.roadmapSection {
    margin-top: 5rem;

    @include media-breakpoint-up(md) {
        margin-top: 10rem;
    }

    &Pattern{
        position: absolute;
        left: calc(-1 * (100vw - 98%) / 2);

        @include media-breakpoint-up(xl) {
            left: calc(-1 * (100vw - 1200px) / 2); // from _core.scss (value of max width)
        }
    }

    &Title {
        font-size: 3rem;
        margin-bottom: 3rem;
        @include media-breakpoint-up(md) {
            font-size: 4rem;
        }
    }
}
