.roadmapSection {
    margin-top: 5rem;

    @include media-breakpoint-up(md) {
        margin-top: 10rem;
    }

    &Pattern{
        position: absolute;
        right: calc(-1 * (100vw - 98%) / 2);
        transform: translateY(-200%);

        @include media-breakpoint-up(xl) {
            right: calc(-1 * (100vw - 1200px) / 2); // from _core.scss (value of max width)
        }
    }

    &Title {
        font-size: 3rem;
        margin-bottom: 3rem;
        @include media-breakpoint-up(md) {
            font-size: 4rem;
        }
    }

    &Subtitle{
        font-size: 1.2rem;
        color: $color-secondary;
    }

    &Image{
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 2rem;
        width: 100%;
        max-width: 540px;
    }
}
