

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;1,300&display=swap");

// Color
$color-primary: #373737;
$color-secondary: #62667c;
$color-green: #298c4d;

$primary: $color-primary;
@import "./vendor/bootstrap/functions.scss";
@import "./vendor/bootstrap/variables";
@import "./vendor/bootstrap/mixins";
@import "./vendor/bootstrap/bootstrap.scss";

@import "./components/core";
@import "./components/topNav";
@import "./components/heroSection";
@import "./components/featureSection";

